
@font-face {
    font-family: 'Hans Kendrick Heavy';
    src: url('custom-fonts/hanskendrick-heavy-webfont.oft') format("oft");
    src: url('custom-fonts/hanskendrick-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('custom-fonts/hanskendrick-heavy-webfont.woff') format('woff'),
         url('custom-fonts/hanskendrick-heavy-webfont.ttf') format('truetype'),
         url('custom-fonts/hanskendrick-heavy-webfont.svg#hans_kendrickheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Hans Kendrick Light';
    src: url('custom-fonts/hanskendrick-light-webfont.oft') format("oft");
    src: url('custom-fonts/hanskendrick-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('custom-fonts/hanskendrick-light-webfont.woff') format('woff'),
         url('custom-fonts/hanskendrick-light-webfont.ttf') format('truetype'),
         url('custom-fonts/hanskendrick-light-webfont.svg#hans_kendricklight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Hans Kendrick Medium';
    src: url('custom-fonts/hanskendrick-medium-webfont.oft') format("oft");
    src: url('custom-fonts/hanskendrick-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('custom-fonts/hanskendrick-medium-webfont.woff') format('woff'),
         url('custom-fonts/hanskendrick-medium-webfont.ttf') format('truetype'),
         url('custom-fonts/hanskendrick-medium-webfont.svg#hans_kendrickmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Hans Kendrick Regular';
    src: url('custom-fonts/hanskendrick-regular-webfont.oft') format("oft");
    src: url('custom-fonts/hanskendrick-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('custom-fonts/hanskendrick-regular-webfont.woff') format('woff'),
         url('custom-fonts/hanskendrick-regular-webfont.ttf') format('truetype'),
         url('custom-fonts/hanskendrick-regular-webfont.svg#hans_kendrickregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* CorporateSBQ-ExtraBold */
@font-face {
  font-family: 'CorporateSBQ-ExtraBold';
  src: url('corporate/bold/CorporateSBQ-ExtraBold.eot?#iefix') format('embedded-opentype'), 
	  url('corporate/bold/CorporateSBQ-ExtraBold.woff') format('woff'),
	  url('corporate/bold/CorporateSBQ-ExtraBold.ttf')  format('truetype'),
	  url('corporate/bold/CorporateSBQ-ExtraBold.svg#CorporateSBQ-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* CorporateSBQ-ExtraBold */

/* CorporateSBQ-Light */
@font-face {
  font-family: 'CorporateSBQ-Light';
  src: url('corporate/light/CorporateSBQ-Light.eot?#iefix') format('embedded-opentype'), 
	  url('corporate/light/CorporateSBQ-Light.woff') format('woff'),
	  url('corporate/light/CorporateSBQ-Light.ttf')  format('truetype'),
	  url('corporate/light/CorporateSBQ-Light.svg#CorporateSBQ-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* CorporateSBQ-Light*/

/* CorporateSBQ-Light */
@font-face {
  font-family: 'CorporateSBQ-Medium';
  src: url('corporate/medium/CorporateSBQ-Medium.eot?#iefix') format('embedded-opentype'), 
	  url('corporate/medium/CorporateSBQ-Medium.woff') format('woff'),
	  url('corporate/medium/CorporateSBQ-Medium.ttf')  format('truetype'),
	  url('corporate/medium/CorporateSBQ-Medium.svg#CorporateSBQ-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* CorporateSBQ-Light*/



