
@font-face {
  font-family: 'CorporateSBQ-Medium';
  src: url('CorporateSBQ-Medium.eot?#iefix') format('embedded-opentype'),  url('CorporateSBQ-Medium.woff') format('woff'), url('CorporateSBQ-Medium.ttf')  format('truetype'), url('CorporateSBQ-Medium.svg#CorporateSBQ-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
