
@font-face {
  font-family: 'CorporateSBQ-ExtraBold';
  src: url('CorporateSBQ-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('CorporateSBQ-ExtraBold.woff') format('woff'), url('CorporateSBQ-ExtraBold.ttf')  format('truetype'), url('CorporateSBQ-ExtraBold.svg#CorporateSBQ-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
